<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render partial: "layouts/hoverable_index_title", locals: {category: @genres} %>
<hr>

<div class="content-scroll">
  <ol>
    <% genrez = @genres.sort_by {|i| i.name.downcase} %>
    <% max = Genre.longest_name_length(genrez) %>
    <% genrez.each do |genre| %>
      <li>
        <div class="hoverable">
          <pre><%= link_to genre.print(max, true, true, true), genre %><span class="admin">  | <%= link_to "Edit", edit_genre_path(genre) %> | <%= link_to 'Delete', genre, method: :delete, data: { confirm: 'Are you sure?' } %></span></pre>
        </div>
      </li>
    <% end %>
  </ol>
</div>

<br>