<%= link_to_function "<< back", "history.back()" %>

<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<br>

<div class="hoverable">

  <h1 class="inline"><%= @webartist %></h1> &nbsp;&nbsp;
  <span class="admin reset-font">
    <%= link_to "<span class='fui-plus-16'></span> Add Artist to Library".html_safe, new_artist_path, class: "btn btn-small btn-success" %>
  </span>

</div>

<br/>
<%= image_tag(@webartiste.get_art) %>

<div  class="content-scroll">
  <ol>
  	<% Webartist.top_artists_tracks(@webartist).each do |websong|  %>
      <li>
        <div class="hoverable">
        	<pre><%= link_to websong, "/webartists/#{@webartist}/#{websong}" %></pre>
        </div>
      </li>
    <% end %>
  </ol>

</div>

