<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render partial: "layouts/hoverable_title", locals: {category: @artist} %>

</br>


<div class="artist-background" style="background-image: url(<%= @artist.get_art %>) no-repeat 0 50%">
<%= image_tag(@artist.get_art) %>

<table>
  <tr>
    <th></th>
    <th>Album</th>
    <th>Song</th>
    <th>Genre</th>
    <th></th>
    <th></th>
  </tr>
  <% songz = @artist.songs.sort_by {|i| i.name.downcase} %>
  <% songz.each_with_index do |song, index| %>
    <% album_name = song.album.nil?  ?  ""  : song.album.name  %>
    <% album_link = song.album.nil?  ?  "#" : album_path(song.album) %>
    <tr class="hoverable td-link">
      <td><%= index + 1 %></td>
      <td><%= link_to truncate(album_name, length: 30), album_link             %></td>
      <td><%= link_to truncate(song.name, length: 40),  song                   %></td>
      <td><%= link_to song.genre.name,           genre_path(song.genre) %></td>
      
      <td> <div class="admin"> <%= link_to "Edit ", edit_song_path(song) %> </div></td>
      <td> <div class="admin"> <%= link_to "Delete", song, method: :delete, data: { confirm: 'Are you sure?' } %> </div></td>
    </tr>
  <% end %>
</table>

<br><br>

</div>