<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h3><%= link_to "Artists", artists_path %></h3>

<div class="hoverable">
  <h2 class="inline"><strong><%= @artist.name %></strong></h2>

  <span class="admin reset-font">

    <%= link_to '<span class="fui-new-16"></span> Edit'.html_safe, edit_artist_path(@artist), class: "btn btn-small btn-warning" %>

    <%= link_to '<span class="fui-cross-16"></span> Delete'.html_safe, @artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>

    <%= link_to '<span class="fui-plus-16"></span> Add Song'.html_safe, new_song_path, class: "btn btn-small btn-info" %>

    <%= link_to '<span class="fui-plus-16"></span> Add Album'.html_safe, new_album_path, class: "btn btn-small btn-info" %>

  </span>
</div>

<br />

<%= link_to '<span class="fui-eye-16"></span> Discover Top Songs'.html_safe, webartist_path(@artist.name.gsub(" ", "%20")), class: "btn btn-small btn-primary" %>

<br />
<br />


<div class="pull-right">
  <%= image_tag(@artist.get_art(-2)) if @artist.get_art %>
</div>

<table>
  <tr>
    <th></th>
    <th>Album</th>
    <th>Song</th>
    <th>Genre</th>
    <th></th>
    <th></th>
  </tr>
  <% songz = @artist.songs.sort_by {|i| i.name.downcase} %>
  <% songz.each_with_index do |song, index| %>
    <% album_name = song.album.nil?  ?  ""  : song.album.name  %>
    <% genre_name = song.genre.nil?  ?  ""  : song.genre.name  %>

    <% album_link = song.album.nil?  ?  "#" : album_path(song.album) %>
    <% genre_link = song.genre.nil?  ?  "#" : genre_path(song.genre) %>
    <tr class="hoverable td-link">
      <td><%= index + 1 %></td>
      <td><%= link_to truncate(album_name, length: 30), album_link %></td>
      <td><%= link_to truncate(song.name, length: 40),  song       %></td>
      <td><%= link_to truncate(genre_name, length: 15), genre_link %></td>
      
      <td> <div class="admin"> <%= link_to "Edit ", edit_song_path(song) %> </div></td>
      <td> <div class="admin"> <%= link_to "Delete", song, method: :delete, data: { confirm: 'Are you sure?' } %> </div></td>
    </tr>
  <% end %>
</table>

<br><br>

</div>