
<div class="hero-unit">

  <h1>Welcome!</h1>

  <br>
  <h3>Browse by:</h3>
    <p>
    <li><%= link_to 'Artist', webartists_path %></li>
    <li><%= link_to 'Album',  albums_path  %></li>
    <li><%= link_to 'Song',   songs_path   %></li>
    <li><%= link_to 'Genre',  genres_path  %></li>
    </p>
  <br>

  
    <%= link_to 'Add New Song',    new_song_path %>
    <br>
    <%= link_to 'Add New Artist',  new_artist_path %>
    <br>
    <%= link_to 'Add New Album',   new_album_path %>
    <br>
    <%= link_to 'Add New Genre',   new_genre_path %>
    <br>
    <%= link_to 'Add New Playlist',new_playlist_path %>
  
</div>

