<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Song Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label  :artist %> (<%= link_to 'Create New', new_artist_path %>)<br />
    <%= f.collection_select :artist_id, Artist.all.sort_by {|i| i.name.downcase}, :id, :name, {:include_blank => 'select an Artist', :selected => @selected_artist} %>
  </div>
  <div class="field">
    <%= f.label  :genre %>  (<%= link_to 'Create New', new_genre_path %>)<br />
    <%= f.collection_select :genre_id,  Genre.all.sort_by {|i| i.name.downcase}, :id, :name,  {:include_blank => 'select a Genre', :selected => @selected_genre} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
