<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render partial: "layouts/hoverable_index_title", locals: {category: @songs} %>
<hr>

    <table id="songs_headings">
      <thead>
        <tr>
          <th></th>
          <th>Artist</th>
          <th>Album</th>
          <th>Song</th>
          <th>Genre</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>

<!-- <div class="outer-table-wrapper"> -->
  <div class="inner-table-wrapper">

    <table id="songs" class="table table-striped table-condensed">
      <tbody>
      <% songz = @songs.sort_by {|i| i.sort_name.downcase} %>
      <% songz.each_with_index do |song, index| %>

        <% album_name = song.album.nil?  ?  ""  : song.album.name  %>
        <% genre_name = song.genre.nil?  ?  ""  : song.genre.name  %>
        
        <% album_link = song.album.nil?  ?  "#" : album_path(song.album) %>
        <% genre_link = song.genre.nil?  ?  "#" : genre_path(song.genre) %>

        <tr class="hoverable td-link">
          <td><%= index + 1 %></td>
          <td><%= link_to truncate(song.artist.name, length: 30), artist_path(song.artist) %></td>
          <td><%= link_to truncate(album_name, length: 30),       album_link               %></td>
          <td>
            <span href="#" class="has_popover" data-toggle="popover", title="<a href='<%= song_path(song) %>'><%= song.name %></a>" data-content="<a href='/'>Add to Playlist</a> | <a href='<%= edit_song_path(song) %>'>Edit</a>">
              <%= link_to truncate(song.name, length: 40), song %>
            </span>
          </td>
          <td><%= link_to truncate(genre_name, length: 20),       genre_link               %></td>
          
          <td> <div class="admin"> <%= link_to "Edit ", edit_song_path(song) %> </div></td>
          <td> <div class="admin"> <%= link_to "Delete", song, method: :delete, data: { confirm: 'Are you sure?' } %> </div></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    
  </div>
<!-- </div> -->

</br>