<p id="notice"><%= notice %></p>


<h3><%= link_to "Songs", songs_path %></h3>
<div class="hoverable">
  <h2><strong><%= @song.print(nil, true, nil, false) %></strong>
  <span class="admin reset-font">
    | <%= link_to 'Edit', edit_song_path(@song) %>
    | <%= link_to 'Back', songs_path %>
  </span>
  </h2>
</div>

<ul>
Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %><br>
Genre:  <%= link_to @song.genre.name,  genre_path(@song.genre)   %>
</ul>

<br>

<iframe src='http://www.youtube.com/embed/<%= @video_id %>' width=640 height=480 frameborder=0></iframe>

<br>
<br>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>