<%= form_for @album, :html => {class: "form-inline"} do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag "" do %>
    <div class="control-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "input-xlarge" %>
    </div>
    
    <div class="control-group">
      <%= f.label  :artist %> (<%= link_to 'Create New', new_artist_path %>)
      <%= f.collection_select :artist_id, Artist.all.sort_by {|i| i.name.downcase}, :id, :name, {include_blank: 'select an Artist', selected: @selected_artist} %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "#{@action} Album", class: "btn btn-primary" %>
  </div>
<% end %>
