<%= form_for @playlist, :html => {class: "form-inline"} do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag "" do %>
    <div class="control-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "input-xlarge" %>
    </div>
  <% end %>

  <fieldset>
    <legend>Add Songs (<%= link_to 'Create New', new_song_path %>):</legend>
    <%= f.collection_select :song_ids, Song.all(:order => "name ASC"), :id, :full_name_with_genre, {selected: @playlist.song_ids}, class: "select-block multi-select", multiple: "multiple" %>
  </fieldset>

  <br><br>

  <div class="actions">
    <%= f.submit "#{@action} Playlist", class: "btn btn-info" %>
  </div>
<% end %>



<script>
  $('.dropdown input, .dropdown label').click(function (event) {
    event.stopPropagation();
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    // window.prettyPrint() && prettyPrint();

    $('.multi-select').multiselect({
      includeSelectAllOption: true,
      enableFiltering: true,
      maxHeight: 300,
      buttonWidth: '400px',
      buttonClass: 'btn btn-primary'
    });

  });
</script>