<%= form_for @playlist, :html => {class: "form-inline"} do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag "" do %>
    <div class="control-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "input-xlarge" %>
    </div>
  <% end %>

  <fieldset>
    <legend>Add Songs (<%= link_to 'Create New', new_song_path %>):</legend>
    <div class="control-group content-scroll">
      <% Song.all.sort {|i, j| if i.artist.sort_name.downcase == j.artist.sort_name.downcase; i.sort_name.downcase <=> j.sort_name.downcase; else i.artist.sort_name.downcase <=> j.artist.sort_name.downcase; end}.each do |song| %>
        
        <%  is_checked  =  @playlist.song_ids.include?(song.id)  ?  true  :  false %>
        <%= check_box_tag 'playlist[song_ids][]', song.id, is_checked, {:"data-toggle" => "checkbox"} %>
        <%= label_tag     'playlist[song][name]', song.print(nil, true, nil, false) %><br>

      <% end %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit "#{@action} Playlist", class: "btn btn-primary" %>
  </div>
<% end %>
