<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render partial: "layouts/hoverable_index_title", locals: {category: @playlists} %>
<hr>

    <table id="playlists_headings">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th># of Songs</th>
          <th># of Albums</th>
          <th># of Genres</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>

<!-- <div class="outer-table-wrapper"> -->
  <div class="inner-table-wrapper">

    <table id="playlists" class="table table-striped table-condensed">
      <tbody>
      <% playlistz = @playlists.sort_by {|i| i.sort_name.downcase} %>
      <% playlistz.each_with_index do |playlist, index| %>

        <tr class="hoverable td-link">
          <td><%= index + 1 %></td>
          <td><%= link_to truncate(playlist.name, length: 30), playlist %></td>
          <td><%= link_to playlist.songs.uniq.size,            playlist %></td>
          <td><%= link_to playlist.albums.uniq.size,           playlist %></td>
          <td><%= link_to playlist.genres.uniq.size,           playlist %></td>
          
          <td> <div class="admin"> <%= link_to "Edit ", edit_playlist_path(playlist) %> </div></td>
          <td> <div class="admin"> <%= link_to "Delete", playlist, method: :delete, data: { confirm: 'Are you sure?' } %> </div></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    
  </div>
<!-- </div> -->

</br>