<!DOCTYPE html>
<html lang="en-US">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta charset="UTF-8" />
  <meta name="viewport" content ="width=device-width, minimum-scale=1.0, initial-scale=1.0">

  <title>Playlisterrr</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  
</head>

<body id="scroll-header">

  <!-- Begin Main Wrapper -->
  <div class="main-wrapper">

    <%= render "layouts/navbar" %>

    <!-- Begin Content -->
    <div class="container">

      <%= yield %>

    </div>
    <!-- <div class="clear"></div> -->
    <!-- End Content -->
  </div>
  <!-- End Main Wrapper -->


  <!-- Begin Footer -->
  <div class="navbar navbar-footer">
    <div class="navbar-inner">
      <div class="navbar-container">
      <ul class="nav">
        <li>
          <a href="https://twitter.com/flatironschool">
            <i class="icon-twitter icon-2x"></i>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/FlatironSchool">
            <i class="icon-facebook-sign icon-2x"></i>
          </a>
        </li>
        <li>
          <a href="http://instagram.com/flatironschool">
            <i class="icon-camera-retro icon-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/organizations/flatiron-school">
            <i class="icon-github-alt icon-2x"></i>
          </a>
        </li>
      </ul>

      <ul class="nav pull-right" style="display:table-cell; vertical-align:middle">
        <li>
          <a>
          &copy; 2013. Flatiron 002 Team Rogue.  All Your Music Are Belong To Us.
        </a>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <!-- End Footer -->

</body>
</html>